#nome,
#email,
#senha,
#telefone,
#confirmaSenha,
#data_nascimento,
#masculinoRadio,
#femininoRadio,
#pais {
    transition: border 0.3s ease;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: #00ff00;
}

.group-telefone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-ddd-select, #telefone {
    width: 100%;
}

#btn-validar-telefone {
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-validar-telefone:hover {
    background-color: #0056b3;
}